* {
  font-family: "Mulish", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}

/* Header Styling */

header {
  width: 100%;
  border-bottom: 2px solid black;
}

nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: "DM Sans", sans-serif;
}

.icons img {
  margin-right: 1rem;
}

/* Landing Page Styling */

.landing-page {
  width: 80%;
  margin: 6rem auto 3rem auto;
}

.landing-home {
  width: 100%;
  margin: 3rem auto;
  text-align: center;
}

.landing-card {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: end;
  height: 150px;
  width: 80%;
}

.landing-card h4 {
  font-size: 1.5rem;
  width: 150px;
}